<notifier-container></notifier-container>
<ng-sidebar-container style="height: 100vh;">
  <!-- A sidebar -->
  <ng-sidebar
    class="sidebar"
    [(opened)]="_opened"
    [mode]="'push'"
    *ngIf="sellerDetails.StoreId"
  >
    <app-page-setup
      (opened)="_toggleSidebar()"
      class="shadow"
      [userInfo]="sellerDetails"
    ></app-page-setup>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content [animate]="false">
    <button
      class="border btn-dark"
      type="button"
      (click)="_toggleSidebar()"
      *ngIf="_showBtn"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container mt-2">
      <div class="row justify-content-center">
        <div class="col-10 banner-container">
          <img
            class="banner-img"
            src="../../../assets/images/seller-bg.svg"
            alt="Card image"
          />
          <div class="camera-icon">
            <label for="file-input">
              <img src="../../../assets/images/camera-icon.svg" class="" />
            </label>
            <input
              id="file-input"
              type="file"
              accept="image/*"
              (change)="uploadBanner($event)"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex">
          <div class="dummy-img shadow">
            <img
              class=""
              src="../../../assets/images/seller-photo.svg"
              alt="Card image"
            />
            <div class="camera-icon">
              <label for="file-input">
                <img src="../../../assets/images/camera-icon.svg" class="" />
              </label>
              <input
                id="file-input"
                type="file"
                accept="image/*"
                (change)="uploadProfileImage($event)"
              />
            </div>
          </div>
          <div class="seller-details">
            <label class="sellerName mb-0">{{sellerDetails.ShopName}}</label>
            <p class="name text-left mb-0">
              <small>{{sellerDetails.AddressLine1}}</small>
            </p>
            <p class="name text-left mb-2 sellerName">
              <small>{{sellerDetails.Phone}}</small>
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="d-flex justify-content-end mr-3">
          <img
            src="../../../../assets/images/add.svg"
            alt="add Product"
            style="height: 20px;"
          />
          <span
            class="ml-3"
            type="button"
            style="color: #6ebe44;"
            (click)="addProduct()"
          >
            Add Product</span
          >
        </div>
        <ng-container>
          <app-card [productList]="productList"></app-card>
        </ng-container>
      </div>
    </div>
  </div>
</ng-sidebar-container>
