.card {
    width: 13rem;
    margin: 1%;
   
    .card-img,
    .card-img-top {
      padding: 10% 10% 0% 10%;
    }
  
    p{
      .save{
        color: #f89838;
      }
    }
  }
  .first{
    margin-left: 5%;
  }