<p class="text-left font-weight-bold">Setup your page</p>

<app-float-text
  label="Your Shop Name"
  [value]="userInfo.ShopName"
  type="textArea"
  [errorMsg]="pageObject.shopName.errorMessage"
  (onChange)="shopName($event)"
></app-float-text>

<div class="border rounded-1 mt-2">
  <p class="mb-0">
    <small>Shope Address</small>
    <span
      class="float-right cursor-pointer"
      (click)="this.isAddressReadonly = !this.isAddressReadonly"
      ><small>Update</small></span
    >
  </p>
  <app-readonly-input
    inputValue="{{address.AddressLine1}}"
    placeholder="Enter Address Line1"
    [isReadonly]="isAddressReadonly"
    *ngIf="address.AddressLine1 || !isAddressReadonly"
    (valueChange)="addressLine1($event)"
  ></app-readonly-input>
  <label *ngIf="!address.AddressLine1" class="label-err-msg"
    >{{pageObject.addressLine1.errorMessage}}</label
  >

  <app-readonly-input
    inputValue="{{address.AddressLine2}}"
    placeholder="Enter Address Line2"
    [isReadonly]="isAddressReadonly"
    *ngIf="address.AddressLine2 || !isAddressReadonly"
    (valueChange)="addressLine2($event)"
  ></app-readonly-input>
  <app-readonly-input
    inputValue="{{address.AddressLine3}}"
    placeholder="Enter Address Line3"
    [isReadonly]="isAddressReadonly"
    *ngIf="address.AddressLine3 || !isAddressReadonly"
    (valueChange)="addressLine3($event)"
  ></app-readonly-input>
  <app-readonly-input
    inputValue="{{address.City}}"
    placeholder="Enter City"
    *ngIf="address.City || !isAddressReadonly"
    [isReadonly]="isAddressReadonly"
    (valueChange)="addressCity($event)"
  ></app-readonly-input>
  <label *ngIf="!address.City" class="label-err-msg"
    >{{pageObject.city.errorMessage}}</label
  >
  <app-readonly-input
    inputValue="{{address.State}}"
    placeholder="Enter State"
    *ngIf="address.State || !isAddressReadonly||  pageObject.state.errorMessage !== ''"
    [isReadonly]="isAddressReadonly &&   !pageObject.state.errorMessage  "
    (valueChange)="addressState($event)"
  ></app-readonly-input>
  <label *ngIf="!address.State" class="label-err-msg"
    >{{pageObject.state.errorMessage}}</label
  >
  <app-readonly-input
    inputValue="{{address.Country}}"
    placeholder="Enter Country"
    *ngIf="address.Country || !isAddressReadonly||  pageObject.Country.errorMessage !== ''"
    [isReadonly]="isAddressReadonly &&   !pageObject.Country.errorMessage  "
    (valueChange)="addCountry($event)"
  ></app-readonly-input>
  <label *ngIf="!address.Country" class="label-err-msg"
    >{{pageObject.Country.errorMessage}}</label
  >
  <app-readonly-input
    inputValue="{{address.Pin}}"
    placeholder="Enter Pin"
    [isReadonly]="isAddressReadonly"
    *ngIf="address.Pin || !isAddressReadonly ||  pageObject.pin.errorMessage !== ''"
    (valueChange)="addressPin($event)"
  ></app-readonly-input>

  <label *ngIf="!address.Pin" class="label-err-msg"
    >{{pageObject.pin.errorMessage}}</label
  >
</div>
<div class="mt-2">
  <app-float-text
    label="Contact Number"
    [value]="userInfo.Phone"
    type="number"
    [errorMsg]="pageObject.phoneNumber.errorMessage"
    (onChange)="contactNumber($event)"
  ></app-float-text>
</div>
<div class="mt-2">
  <app-float-text
    label="Unique ID"
    [value]="userInfo.UniqueId"
    type="text"
    [errorMsg]="pageObject.uniqueId.errorMessage"
    (onChange)="uniqueId($event)"
  ></app-float-text>
</div>
<div class="mt-2 mt-2 border-bottom">
  <p class="mb-0">
    <small>Unique Link</small>
  </p>
  <p>
    <a
      href="http://www.merasupermarket.com/{{sellerLinkId}}"
      target="_blank"
      style="word-break: break-all;"
      >www.merasupermarket.com/{{sellerLinkId}}</a
    >
  </p>
</div>

<div class="row mt-2">
  <div class="col text-center">
    <button class="btn create btn-block" (click)="saveUser()">Save</button>
  </div>
</div>
