.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}



.create {
  background-color: #6fba47;
  color: #ffffff;
  height: 45px;
}
.ngx-file-drop__content {
  align-items: center;
  color: #0782d0;
  display: flex;
  height: 100px !important;
  justify-content: center;
}
.ngx-file-drop__drop-zone {
  border: 2px dotted gray !important;
  border-radius: 10px !important;
  height: 70px;
  margin: auto;
  background-color: white;
}
